p {
  margin: 0
}

.App {
  /* text-align: center; */
  /* background-color: red; */
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.MousePos {
  min-height: 100vh;
}

